/* -------coverflow-slider--------------- */
.slider {
  width: 100%;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 210px;
  perspective: 1000px;
  overflow: hidden;
}

.testimonials .item {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  width: 350px;
  text-align: center;
  transition: transform 0.4s;
  /* -webkit-transform-style: preserve-3d; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  background: linear-gradient(
    25deg,
    rgba(115, 44, 245, 1) 40%,
    rgba(30, 13, 143, 1) 109%
  );
  border-radius: 25px;
  height: -webkit-fill-available;
}

.carousel-artist {
  padding: 0 30px;
  width: 250px;
  border-radius: 25px;
  background: linear-gradient(
    25deg,
    rgba(115, 44, 245, 1) 40%,
    rgba(30, 13, 143, 1) 109%
  );
}

.testimonials .item img {
  width: 76px;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.testimonials .item p {
  color: #ddd;
}

.testimonials .item h2 {
  font-size: 14px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}

#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff;
}

#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}

#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(100px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}

#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(190px) translateZ(-180px) rotateY(-25deg);
  z-index: 1;
}

#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

#t-2:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"] {
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(85, 85, 85, 1) 100%
  );
}

#t-2:checked ~ .testimonials label[for="t-3"] img,
#t-2:checked ~ .testimonials label[for="t-4"] img {
  opacity: 0;
}

#t-2:checked ~ .testimonials label[for="t-3"] .information-row,
#t-2:checked ~ .testimonials label[for="t-4"] .information-row {
  opacity: 0;
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #fff;
}

#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-260px) translateZ(-165px) rotateY(75deg);
}

#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-190px) translateZ(-110px) rotateY(70deg);
}

#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(190px) translateZ(-110px) rotateY(-70deg);
  z-index: 2;
}

#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(260px) translateZ(-165px) rotateY(-75deg);
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"] {
  /*background: #494949;*/
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(85, 85, 85, 1) 100%
  );
}

#t-3:checked ~ .testimonials label[for="t-1"] img,
#t-3:checked ~ .testimonials label[for="t-2"] img,
#t-3:checked ~ .testimonials label[for="t-4"] img,
#t-3:checked ~ .testimonials label[for="t-5"] img {
  opacity: 0;
}

#t-3:checked ~ .testimonials label[for="t-1"] .information-row,
#t-3:checked ~ .testimonials label[for="t-2"] .information-row,
#t-3:checked ~ .testimonials label[for="t-4"] .information-row,
#t-3:checked ~ .testimonials label[for="t-5"] .information-row {
  opacity: 0;
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff;
}

#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}

#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}

#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-200px) translateZ(-190px) rotateY(25deg);
}

#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-110px) translateZ(-120px) rotateY(15deg);
  z-index: 2;
}

#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}

#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

#t-4:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"] {
  background: #494949;
}

#t-4:checked ~ .testimonials label[for="t-2"] img,
#t-4:checked ~ .testimonials label[for="t-3"] img {
  opacity: 0;
}

#t-4:checked ~ .testimonials label[for="t-2"] .information-row,
#t-4:checked ~ .testimonials label[for="t-3"] .information-row {
  opacity: 0;
}

.information-row {
  display: flex;
  justify-content: space-between;
}

.information-row .name-person {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
}

.information-row .name-person span {
  display: block;
  margin-top: 4px;
  text-align: left;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 5px;
  position: relative;
}

.information-row .name-person span.up-down {
  padding-left: 25px;
}

.information-row .name-person span.up-down:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #1bd4cd;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.song-card-main {
  cursor: pointer;
}

.song-card-main .imag-fors-poster a.play-btn {
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.song-card-main .imag-fors-poster a.play-btn img {
  width: 42px;
}

.song-card-main .imag-fors-poster:before {
  position: absolute;
  content: "";
  background: linear-gradient(
    45deg,
    rgba(83, 40, 170, 1) 0%,
    rgba(73, 114, 171, 1) 100%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 20px 0px 20px;
  transition: 0.3s all ease;
  opacity: 0;
}

.song-card-main .imag-fors-poster > img {
  width: 100%;
  border-radius: 0px 20px 0px 20px;
}

.song-card-main .song-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.song-card-main .song-details .song-name {
  font-size: 26px;
  margin-bottom: 5px;
  font-weight: 600;
}

.song-card-main .song-details .artist-name {
  font-size: 18px;
  font-weight: 400;
}

.song-card-main:hover .imag-fors-poster:before {
  opacity: 1;
  transition: 0.3s all ease;
}

.song-card-main:hover .imag-fors-poster a.play-btn {
  opacity: 1;
}

.song-card-main .imag-fors-poster {
  position: relative;
}

.banner-img-main .right-col-img img {
  width: 280px;
}

.banner-img-main {
  position: relative;
  background: linear-gradient(
    27deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(78, 44, 214, 1) 20%,
    rgba(98, 38, 159, 1) 81%,
    rgba(53, 30, 146, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}

.banner-img-main .left-col-heading .headings {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 80px;
  line-height: normal;
  font-family: "Rajdhani";
  font-weight: 700;
}

.banner-img-main .left-col-heading p {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

.artist-main .artis-img img {
  width: 100%;
  border-radius: 0px 250px 250px;
}

.artist-main .artis-img {
  margin-bottom: 20px;
}

img.small-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 10px;
}

.Main-post-grids-card {
  background: #2f3443;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.Main-post-grids-card .first-row-grids {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main-post-grids-card .first-row-grids .left-col-main {
  display: flex;
  align-items: center;
}

.Main-post-grids-card
  .first-row-grids
  .left-col-main
  .post-name-col
  .artist-name-with-status {
  margin-bottom: 4px;
  color: #858997;
  font-size: 16px;
  line-height: normal;
}

.Main-post-grids-card
  .first-row-grids
  .left-col-main
  .post-name-col
  .artist-name-with-status
  span.aritist-name {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-right: 3px;
}

.Main-post-grids-card
  .first-row-grids
  .left-col-main
  .post-name-col
  .date-and-time-man {
  color: #858997;
  font-size: 13px;
}

.Main-post-grids-card .first-row-grids .share-post-drop .dropdown button {
  background: no-repeat !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  padding: 0 !important;
}

.Main-post-grids-card
  .first-row-grids
  .share-post-drop
  .dropdown
  button::after {
  display: none;
}

.Main-post-grids-card .first-row-grids .share-post-drop .dropdown button img {
  width: 20px;
}

.second-row-for-pics .inner-grid-main img {
  width: 100%;
  border-radius: 20px;
}

.second-row-for-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 30px;
}

.third-row-description p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.comman-icon {
  width: 20px;
}

.fourth-row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.fourth-row .comman-col {
  margin-right: 40px;
}

.fourth-row .comman-col {
  margin-right: 20px;
  font-size: 14px;
  color: #858997;
  font-weight: 500;
}

.fourth-row .comman-col img.comman-icon {
  margin-right: 5px;
}

.Live-now-mains {
  position: relative;
  margin-bottom: 30px;
}

.Live-now-mains img.live-video {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.Live-now-mains .live-nows-main {
  position: absolute;
  right: 14px;
  top: 14px;
  background: #f64000;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.main-rows-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-rows-main .fourth-row {
  margin-top: 0px;
}

.main-rows-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 96%;
  margin: auto;
}

.labels-cards-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.labels-cards-main .imgs-row-main img {
  width: 100%;
}

.labels-cards-main .imgs-row-main {
  background: #000;
  padding: 30px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.labels-cards-main .name-plate {
  margin-top: 14px;
  text-align: center;
}

.labels-cards-main .name-plate .names-of-artis {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  line-height: normal;
  color: #fff;
}

.labels-cards-main .name-plate .new-things-happen {
  font-size: 14px;
  font-weight: 100;
  color: #fff;
}
