.videoWrapper {
    overflow: hidden;
}
@media (min-width: 1500px) {
    .videoWrapper {
        margin-top: -135px;
    }
}
@media (min-width: 1200px) {
    .videoWrapper {
        margin-top: -75px;
    }
}
