@font-face {
  src: url("./assets/fonts/Rubik-Regular.ttf");
  font-family: Rubik;
  font-weight: normal;
}

@font-face {
  src: url("./assets/fonts/Rubik-Light.ttf");
  font-family: Rubik-Light;
  font-weight: 300;
}

@font-face {
  src: url("./assets/fonts/Rubik-Medium.ttf");
  font-family: Rubik-Medium;
  font-weight: normal;
}

@font-face {
  src: url("./assets/fonts/Rubik-Bold.ttf");
  font-family: Rubik-bold;
  font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  background: #000 !important;
  color: #fff !important;
  overflow-x: hidden;
  font-family: Rubik, Rubik-Medium, Rubik-bold, Rubik-Light, sans-serif !important;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-comman-wrapping {
  position: relative;
  margin-left: 90px;
  margin-top: 80px;
  background: url("./assets/images/background-pattern.svg") repeat-y fixed;
  background-size: cover;
}

.main-comman-wrapping:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

/* --------------------Global-css--------------- */

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: white;
}

.dashboard-wrapper-main {
  padding: 35px;
  position: relative;
  z-index: 1;
  max-width: 77vw;
  margin: auto;
}

.heading {
  font-size: 36px;
  margin-bottom: 25px;
  line-height: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.card-heading {
  color: #aaaaaa;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0.09em;
  font-weight: 600;
}
