@font-face {
  src: url("./assets/fonts/Rubik-Regular.ttf");
  font-family: Rubik;
  font-weight: normal;
}

@font-face {
  src: url("./assets/fonts/Rubik-Light.ttf");
  font-family: Rubik-Light;
  font-weight: 300;
}

@font-face {
  src: url("./assets/fonts/Rubik-Medium.ttf");
  font-family: Rubik-Medium;
  font-weight: normal;
}

@font-face {
  src: url("./assets/fonts/Rubik-Bold.ttf");
  font-family: Rubik-bold;
  font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  background: #000 !important;
  color: #fff !important;
  overflow-x: hidden;
  font-family: Rubik, Rubik-Medium, Rubik-bold, Rubik-Light, sans-serif !important;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-comman-wrapping {
  position: relative;
  margin-left: 90px;
  margin-top: 80px;
  background: url("./assets/images/background-pattern.svg") repeat-y fixed;
  background-size: cover;
}

.main-comman-wrapping:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

/* --------------------Global-css--------------- */

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: white;
}

.dashboard-wrapper-main {
  padding: 35px;
  position: relative;
  z-index: 1;
  max-width: 77vw;
  margin: auto;
}

.heading {
  font-size: 36px;
  margin-bottom: 25px;
  line-height: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.card-heading {
  color: #aaaaaa;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0.09em;
  font-weight: 600;
}

/* ---------------Dashboard-page------------- */

.first-row-main-dash {
  display: flex;
  grid-column-gap: 20px;
}

.first-row-main-dash .left-col,
.first-row-main-dash .right-col {
  width: 50%;
}

.first-row-main-dash .left-col .above-row {
  /* background: #2f3443; */
  background: rgb(37, 37, 37);
}

.first-row-main-dash .left-col .above-row a img,
.first-row-main-dash .right-col a img {
  width: 30px;
  cursor: pointer;
}

.first-row-main-dash .left-col .above-row {
  /* background: #2f3443; */
  background: rgb(37, 37, 37);
  padding: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.first-row-main-dash .left-col .above-row .inner-row,
.first-row-main-dash .right-col .inner-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.first-row-main-dash .left-col .below-row {
  /* background: #2d323f; */
  background: rgb(37, 37, 37);
  padding: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.first-row-main-dash .left-col .below-row .left-pricing .price-tag {
  font-size: 35px;
  margin-bottom: 0px;
}

.first-row-main-dash .left-col .below-row .left-pricing .price-tag span {
  font-size: 18px;
}

.below-row canvas {
  height: 150px !important;
}

.first-row-main-dash .left-col .below-row .left-pricing .short-des {
  font-size: 11px;
  letter-spacing: 1px;
  color: #888888;
}

.first-row-main-dash .left-col .below-row .date-row-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-row-main-dash
  .left-col
  .below-row
  .right-side
  .custom-drop
  .customised-dashdrop
  .btn {
  margin-bottom: 8px;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  font-size: 18px;
  padding: 0;
  position: relative;
  padding-right: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.first-row-main-dash
  .left-col
  .below-row
  .right-side
  .custom-drop
  .customised-dashdrop
  .btn::after {
  position: absolute;
  content: "";
  border: none !important;
  background: url(assets/images/down-arrow-white.svg) no-repeat;
  background-size: 14px;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.first-row-main-dash .left-col .below-row .right-side .labal {
  margin-top: -4px;
  font-size: 11px;
  color: #888888;
  letter-spacing: 1px;
}

.progress-bar-cust .progress {
  height: 3px;
  margin: 30px 0px;
}

.spiner-bar-row {
  display: flex;
  align-items: center;
}

.spiner-bar-row .comman-col:first-child {
  margin-right: 40px;
  padding-right: 40px;
  border-right: 2px solid #444444;
  padding-left: 10px;
}

.comman-div-for-pro .spiner-bar-row .comman-col:first-child {
  border-right: 2px solid #555555;
}

.spiner-bar-row .comman-col {
  width: 50%;
  display: flex;
  align-items: center;
}

.spiner-bar-row .comman-col .spinner {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.spiner-bar-row .comman-col .right-side-value span.small-heading {
  display: block;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
}

.spiner-bar-row .comman-col .right-side-value {
  font-size: 23px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.first-row-main-dash .right-col {
  padding: 30px;
  /* background: #2f3443; */
  background: rgb(37, 37, 37);
  border-radius: 8px;
}

.chart-row {
  width: 200px;
  margin: auto;
  margin-bottom: 50px;
}

.comman-div-for-pro {
  display: flex;
  justify-content: center;
  background: #444;
  padding: 30px;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  border-radius: 4px;
  flex-direction: column;
}

.comman-div-for-pro .spiner-bar-row {
  align-items: inherit !important;
}

.comman-div-for-pro .spiner-bar-row .comman-col:first-child {
  padding-left: 0;
  justify-content: flex-end;
}

.comman-div-for-pro .spiner-bar-row .comman-col .right-side-value {
  font-weight: 500;
}

.comman-div-for-pro .spiner-bar-row:first-child .comman-col {
  padding-bottom: 30px;
}

.last-row-pricing {
  padding: 10px 30px;
  width: 80%;
  background: #444;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.last-row-pricing .comman-priced:first-child {
  padding-right: 30px;
  margin-right: 40px;
  border-right: 2px solid #555;
}

.last-row-pricing .comman-priced span.small-heading {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
}

.last-row-pricing .comman-priced {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.deposite-earning-row {
  display: flex;
  justify-content: center;
  grid-column-gap: 130px;
  margin-top: 40px;
  position: relative;
}

.deposite-earning-row:before {
  position: absolute;
  content: "";
  background: #444;
  width: 1px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.deposite-earning-row .deposits .square-lab {
  width: 26px;
  height: 26px;
  background: #6b16d1;
  border-radius: 7px;
  margin-right: 10px;
}

.deposite-earning-row .earning .square-lab {
  width: 26px;
  height: 26px;
  background: #5594eb;
  border-radius: 7px;
  margin-right: 10px;
}

.deposite-earning-row .deposits,
.deposite-earning-row .earning {
  display: flex;
}

.deposite-earning-row .deposite-heaing span {
  display: block;
}

.deposite-earning-row .deposite-heaing span.labal-heading {
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 700;
  letter-spacing: 1px;
}

.deposite-earning-row .deposite-heaing span.percent {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  letter-spacing: 2px;
}

.mynfts-row-main {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mynfts-row-main .second-col {
  text-align: left;
  width: fit-content;
}

.mynfts-row-main .second-col .Mynft-drop-component-main .title-name {
  font-size: 17px;
  color: #aaa;
  font-weight: 600;
  line-height: 1;
}

.mynfts-row-main .second-col .Mynft-drop-component-main .dropdown .btn {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0;
  font-size: 13px;
  color: #888;
  font-weight: 500;
  padding-right: 15px !important;
}

.mynfts-row-main .second-col .Mynft-drop-component-main .dropdown .btn::after {
  left: 6px;
  position: relative;
  top: 3px;
}

.mynfts-row-main .center-col input {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #555;
  font-size: 16px;
  outline: none !important;
  transition: 0.2s all ease;
  padding-right: 100px;
  background: no-repeat;
  color: #fff;
}

.mynfts-row-main .center-col {
  position: relative;
  width: 60%;
}

.mynfts-row-main .center-col::before {
  position: absolute;
  content: "";
  background: url(assets/images/search-icon.svg) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.mynfts-row-main .last-icon a {
  display: inline-block;
}

.mynfts-row-main .last-icon a img {
  width: 25px;
}

.songs-grid-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.songs-grid-main .song-card-main .song-details {
  margin-bottom: 0;
}

.songs-grid-main .song-card-main .song-details .song-name {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.songs-grid-main .song-card-main .song-details .artist-name {
  font-size: 14px;
  line-height: normal;
}

.Inflow-music-main .inner-music-wrapper {
  margin-top: 50px;
}

.artist-heading {
  font-size: 22px;
  position: relative;
  line-height: normal;
  margin-bottom: 30px;
  font-weight: 600;
}

.artist-heading:before {
  position: absolute;
  content: "";
  left: auto;
  right: 0;
  height: 1px;
  width: 80%;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  top: 0;
  bottom: 0;
  margin: auto;
}

.grid-for-artist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 80px;
}

.artist-main .artist-name {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.artist-main .short-desrip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-main .short-desrip .price-tag {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

.artist-main .short-desrip .tags-up {
  padding-left: 20px;
  font-size: 10px;
  position: relative;
  font-weight: 600;
}

.artist-main .short-desrip .tags-up:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #5cd4cd;
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.see-all-artist {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.see-all-artist a {
  font-size: 20px;
  line-height: normal;
  color: #fff;
  font-weight: 500;
}

.see-all-nft {
  margin-bottom: 30px;
}

.News-main .inner-wrapper-news {
  width: 800px;
  margin: auto;
  margin-bottom: 80px;
}

.News-main .inner-wrapper-news .heading {
  padding-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

button.search-btn img {
  width: 22px;
}

.search-input-main {
  margin-top: 100px;
  margin-bottom: 30px;
  position: relative;
}

.search-input-main input {
  width: 100%;
  background: rgba(71, 95, 242, 0.45);
  border: none;
  color: #fff;
  padding: 30px 40px;
  border-radius: 50px;
  outline: none;
}

.search-input-main input::placeholder {
  color: #fff;
  font-size: 16px;
  font-family: Rubik;
}

.search-input-main button.search-btn {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 60px;
  border-radius: 100%;
  height: 60px;
  border: none;
  padding: 0;
  margin: auto;
  background: linear-gradient(
    0deg,
    rgba(115, 44, 245, 1) 50%,
    rgba(30, 13, 143, 1) 100%
  );
}

.table-filter-btn-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.table-filter-btn-row .left-col-fillter {
  display: flex;
  align-items: center;
}

.table-filter-btn-row .left-col-fillter .comman-btn {
  margin-right: 10px;
}

.table-filter-btn-row .left-col-fillter .comman-btn .btn {
  background: #141e46;
  border: none;
  padding: 12px 15px;
  font-size: 14px;
  color: #6987b9;
  box-shadow: none !important;
  font-weight: 600;
}

.table-filter-btn-row .left-col-fillter .comman-btn .btn:after {
  margin-left: 0.5em;
  vertical-align: 0.1em;
}

.table-filter-btn-row .right-col-filter {
  display: flex;
  align-items: center;
}

.table-filter-btn-row .right-col-filter .right-col-btn {
  margin-left: 20px;
}

.table-filter-btn-row .right-col-filter .right-col-btn button {
  background: #141e46;
  border: none;
  padding: 12px 15px;
  font-size: 14px;
  color: #6987b9;
  box-shadow: none !important;
  border-radius: 5px;
  font-weight: 600;
}

.main-table-for-lader-board table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.first-col {
  width: 50px;
}

.second-col {
  width: 190px;
  text-align: center;
}

.third-col {
  width: 220px;
}

.fourth-col {
  width: 220px;
}

.fifth-col {
  width: 190px;
}

.sixth-col {
  width: 290px;
}

.seventh-col {
  width: 160px;
}

.main-table-for-lader-board table thead tr th {
  color: #6987b9;
  font-size: 14px;
  padding: 20px;
  padding-bottom: 30px;
}

.main-table-for-lader-board table tbody tr td {
  background: #141e46;
  padding: 20px;
}

.main-table-for-lader-board table tbody tr td .artist-pic img {
  width: 50px;
}

.main-table-for-lader-board table tbody tr td.first-col {
  border-radius: 5px 0 0 5px;
  color: #8a94a4;
}

.main-table-for-lader-board table tbody tr td.seventh-col {
  border-radius: 0 5px 5px 0;
}

.first-col {
  padding-left: 18px;
}

.artist-pic img {
  width: 60px;
  border-radius: 100%;
}

.artist-pic {
  text-align: center;
}

.name {
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
}

.green-light {
  position: relative;
  color: #1bda48;
  font-size: 16px;
  padding-right: 20px;
  display: inline-block;
}

.green-light:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #1bda48;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.red-light {
  position: relative;
  color: #da361b;
  font-size: 16px;
  padding-right: 20px;
  display: inline-block;
}

.red-light:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #da361b;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.next-btn-main {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.next-btn-main button {
  background: #141e46;
  border: none;
  padding: 12px 15px;
  font-size: 14px;
  color: #6987b9;
  box-shadow: none !important;
  border-radius: 5px;
  font-weight: 600;
}

.tab-settings-main {
  background: #222222;
  padding-top: 20px;
}

.tab-settings-main nav .nav-tabs {
  display: flex;
  flex-wrap: inherit;
  justify-content: center;
  border: none;
  background: #282828;
}

.account-setting-form {
  background-color: #282828;
  padding-bottom: 50px;
}

.tab-settings-main nav .nav-tabs a.nav-item {
  flex: inherit;
  padding: 25px;
  color: #888888;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background: none;
  border: none;
  letter-spacing: 2px;
}

.tab-settings-main nav .nav-tabs a.nav-item.active {
  border-bottom: 3px solid #5594eb;
  color: #fff;
}

.login-page-main {
  height: 100vh;
  background: #000;
  display: flex;
  overflow: hidden;
}

.login-modal-main {
  background: linear-gradient(
    235deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(98, 32, 177, 1) 100%
  );
  padding: 130px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-main .left-cols-main .logos-row img {
  width: 80px;
  margin-right: 20px;
}

.login-page-main .left-cols-main .logos-row {
  font-size: 45px;
  font-weight: 600;
  color: #8c82df;
}

.login-page-main .left-cols-main {
  /*background: linear-gradient(to top, rgb(70, 29, 149) 0%, rgb(37, 36, 151) 100%);*/
  background: linear-gradient(
    145deg,
    rgba(37, 36, 151, 1) 0%,
    rgba(81, 26, 148, 1) 100%
  );
  width: 50%;
}

.login-page-main .left-cols-main .logos-row {
  padding: 70px 80px;
  padding-bottom: 20px;
}

.new-row-for-descriptions {
  padding: 60px 100px;
  height: calc(100% - 250px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.new-row-for-descriptions .login-headings {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}

p.descriptions-main {
  font-size: 13px;
  color: #fff;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 70px;
}

button.login-btn {
  background: #fff;
  border: none;
  padding: 11px 55px;
  border-radius: 50px;
  box-shadow: 0 8px 5px rgba(60, 59, 59, 0.2);
  margin-right: 10px;
}

.login-page-main .right-cols-main {
  width: 50%;
  background: linear-gradient(
    235deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(98, 32, 177, 1) 100%
  );
  padding: 130px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creat-name-main {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: #4c4cab;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
  padding: 10px;
}

.social-icons a.call-icon img,
.social-icons a.mail-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.social-icons a img {
  width: 100%;
}

.or-use {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
}

.comman-row-input {
  margin-bottom: 20px;
  position: relative;
}

.comman-row-input.persons-row::before {
  position: absolute;
  content: "";
  background: url(assets/images/user.svg) no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 12px;
}

.comman-row-input.email-row::before {
  position: absolute;
  content: "";
  background: url(assets/images/email.svg) no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 12px;
}

.comman-row-input.password-row::before {
  position: absolute;
  content: "";
  background: url(assets/images/password.svg) no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 12px;
}

.forgot-password {
  font-size: 12px;
  color: white;
}

.comman-row-input input {
  width: 100%;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none !important;
  box-shadow: none !important;
  padding-left: 40px;
}

button.sign-up-btn {
  margin-top: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    0deg,
    rgba(101, 32, 181, 1) 0%,
    rgba(59, 72, 193, 1) 100%
  );
  color: #fff;
  padding: 13px 40px;
  font-size: 13px;
  font-weight: 600;
  /*box-shadow: 0px 0px 13px #403f3f;*/
  box-shadow: 0 5px 16px 1px rgba(64, 63, 63, 0.4);
}

.grids-main-inputs {
  padding: 40px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #282828;
}

.grids-main-inputs .comman-grids input {
  width: 100%;
  background: #373737;
  border: none;
  padding: 20px;
  color: #ffffff;
}

.grids-main-inputs .comman-grids input:focus {
  outline: 4px solid #707070;
}

.grids-main-inputs .comman-grids .dropdown .btn {
  width: 100%;
  text-align: left;
  padding: 20px;
  border: none !important;
  border-radius: 0 !important;
  background: #373737;
  color: #666;
  box-shadow: none !important;
  position: relative;
}

.grids-main-inputs .comman-grids .dropdown .btn::after {
  position: absolute;
  right: 13px;
  top: 32px;
  bottom: 0;
  margin: auto;
}

.grids-main-inputs .comman-grids.Address-main {
  grid-column-start: 1;
  grid-column-end: -1;
}

.save-changes-main {
  padding: 0 100px;
  text-align: right;
}

.save-changes-main button {
  background: linear-gradient(
    0deg,
    rgba(101, 32, 181, 1) 20%,
    rgba(59, 72, 193, 1) 100%
  );
  color: #fff;
  border: none;
  padding: 16px 100px;
  font-size: 14px;
  border-radius: 100px;
  font-weight: 600;
  letter-spacing: 1px;
}

.save-changes-main-button {
  background: linear-gradient(
    0deg,
    rgba(101, 32, 181, 1) 20%,
    rgba(59, 72, 193, 1) 100%
  );
  color: #fff;
  border: none;
  padding: 16px 100px;
  font-size: 14px;
  border-radius: 100px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 350px !important;
}

.labels-mains .inner-row-labels-main {
  /* background: #2f3443; */
  background-color: rgb(37, 37, 37);
  padding: 25px 30px;
  border-radius: 10px;
}

.labels-mains .inner-row-labels-main .small-row-heading .small-headings {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: normal;
  font-weight: 600;
}

.labels-mains .inner-row-labels-main .small-row-heading .short-descriptions {
  font-size: 15px;
  font-weight: 400;
}

.labels-mains .inner-row-labels-main .small-row-heading {
  margin-bottom: 25px;
}

.labels-grid-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 50px;
}

.rocnations-artist-main .heading {
  margin-bottom: 5px;
}

.rocnations-artist-main .small-descriptions {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}

.gray-cards-main {
  /* background: #2f3443; */
  background: rgb(37, 37, 37);
  padding: 30px;
  border-radius: 10px;
}

.gray-cards-main .inner-first-card-row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.gray-cards-main .inner-first-card-row img {
  width: 65px;
  border-radius: 10px;
  margin-right: 15px;
}

.gray-cards-main .inner-first-card-row .col-rights-main .first-headings {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.gray-cards-main .inner-first-card-row .col-rights-main .songs-name {
  font-size: 14px;
  line-height: normal;
}

.gray-cards-main .table-main table tr .first-col {
  padding-left: 0;
}

.gray-cards-main .table-main table {
  width: 100%;
}

.gray-cards-main .table-main table tr .first-col img {
  width: 50px;
}

.gray-cards-main .table-main .second-col {
  text-align: inherit;
  width: 250px;
}

.gray-cards-main .table-main .third-col {
  width: 250px;
}

.gray-cards-main .table-main .fourth-col {
  width: 260px;
}

.gray-cards-main .table-main .fifth-col {
  width: 70px;
}

.gray-cards-main .table-main table tr td,
.gray-cards-main .table-main table tr th {
  padding: 15px 13px !important;
}

.gray-cards-main .table-main table tr,
.gray-cards-main .table-main table tr td {
  transition: 0.6s all ease;
}

.gray-cards-main .table-main table tr:hover td {
  background: #5653e8;
  transition: 0.6s all ease;
}

.progress {
  background-color: #444444;
}

.progress-bar {
  background-color: #732cf5;
}

.main-comman-wrapping .News-main {
  position: relative;
}

.News-main .fourth-row .comman-col {
  color: #ffffff;
}

.News-main .fourth-row .comman-col + .comman-col {
  color: #858997;
}

.News-main .fourth-row .comman-col + .comman-col.live-like {
  color: #ffffff;
}

.profile-dropdown-main {
  padding: 0;
  background-color: #2f3443;
  /* background-color: rgb(37, 37, 37); */
  border-radius: 25px 0 25px 25px;
  overflow: hidden;
  transform: translate(-330px, 90px) !important;
  border: none;
  position: relative;
  overflow: unset;
}

.profile-dropdown-main:before {
  position: absolute;
  content: "";
  /* border-bottom: 50px solid #2f3443; */
  border-bottom: 50px solid gb(37, 37, 37);
  border-left: 50px solid transparent;
  right: 0;
  top: -40px;
}

.profile-dropdown-card .card-header {
  border-bottom: 0;
  padding: 20px;
}

.profile-dropdown-card .card-header span {
  text-shadow: none;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
  font-size: 20px;
  display: block;
  float: unset;
  text-align: right;
}

.Profile-dropdown-img {
  display: flex;
  justify-content: center;
}

.profile-dropdown-card .background-img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.profile-dropdown-card .background-img-wrapper .img-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.profile-dropdown-card .background-img-wrapper .img-wrapper .full-scree-icon,
.profile-dropdown-card .background-img-wrapper .img-wrapper .money-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: #444444;
  display: flex;
}

.profile-dropdown-card .background-img-wrapper .img-wrapper .profile-img img {
  width: 65px;
  border-radius: 50%;
}

.profile-dropdown-card .user-details {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

.profile-dropdown-card .user-details .user-name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}

.profile-dropdown-card .user-details .edit-button {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #5594eb;
  border-radius: 5px;
  padding: 10px 35px;
  border: 0;
}
.profile-dropdown-card .user-profile-details ul {
  color: #ffffff;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.profile-dropdown-card .user-profile-details ul li {
  text-align: center;
  list-style: none;
  padding: 0 20px;
}
.profile-dropdown-card .user-profile-details ul li + li {
  border-left: 2px solid #707070;
}
.profile-dropdown-card .user-profile-details ul li .number {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
}
.profile-dropdown-card .user-profile-details ul li .name {
  font-size: 12px;
  font-family: Rubik-Medium;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
}

.profile-dropdown-card .user-details .user-album {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.profile-dropdown-card .profile-card-body {
  /* background-color: #2f3443; */
  background-color: rgb(37, 37, 37);
  margin: 40px 20px 20px 40px;
  height: 190px;
  overflow: auto;
}

.profile-dropdown-card .profile-card-body .card-body-title {
  color: #aaaaaa;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.profile-dropdown-card .profile-card-body ul.following-list {
  padding-left: 0;
  margin-bottom: 0;
}

.profile-dropdown-card .profile-card-body ul.following-list li {
  display: flex;
}

ul.following-list li .user {
  margin-right: 15px;
}

ul.following-list li + li .user {
  padding-top: 20px;
}

ul.following-list li .user img {
  width: 50px;
  border-radius: 50%;
}

ul.following-list li .follower-details {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  padding-bottom: 20px;
}

ul.following-list li + li .follower-details {
  padding-top: 20px;
  border-top: 2px solid #707070;
}

ul.following-list li .follower-details .follower-content .album-name {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

ul.following-list li .follower-details .follower-content .album-id {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 12px;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(200px);
}

ul.following-list li .follower-details .option-btn {
  background-color: transparent;
  border: 0;
  padding-left: 15px;
}

.edit-profile-modal .modal-dialog {
  /* background-color: #2f3443; */
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
}

.edit-profile-modal .modal-dialog .modal-content {
  /* background-color: #2f3443; */
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  padding: 30px 50px;
}

.edit-profile-modal.success .modal-body .success-popup-content {
  text-align: center;
  padding-top: 100px;
}

.edit-profile-modal.success .modal-body .success-popup-content h2.title {
  font-family: Rubik-Medium;
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0 5px;
  letter-spacing: 2px;
}

.edit-profile-modal.success .modal-body .success-popup-content p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.edit-profile-modal .modal-dialog .modal-header {
  text-align: center;
  padding: 0;
  border-bottom: 0;
  position: relative;
}

.edit-profile-modal .modal-dialog .modal-header span.title {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
}

.edit-profile-modal .modal-dialog .modal-header button.close {
  position: absolute;
  right: 0;
  box-shadow: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  opacity: 1;
  padding: 15px 15px;
  cursor: pointer;
}

.edit-profile-modal .modal-dialog .modal-body .form-group .form-control {
  background-color: rgba(235, 235, 235, 0.1);
  border: 0;
  border-radius: 0;
  color: #ffffff;
  font-weight: 600;
  padding: 15px;
  height: auto;
}

.sell-total-amount {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.edit-profile-modal .modal-body .form-group .form-control:focus {
  outline: 4px solid #707070;
}

.edit-profile-modal .modal-body .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.edit-profile-modal .modal-body .user-profile-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.edit-profile-modal .modal-body .user-profile img {
  width: 120px;
  border-radius: 50%;
  border: 2px solid rgba(86, 83, 232, 0.66);
}

.edit-profile-modal .modal-body .user-profile-background img {
  width: 100%;
  border-radius: 10px;
}

.btn-gradiant {
  border-radius: 50px;
  border: 0;
  background: linear-gradient(
    0deg,
    rgba(101, 32, 181, 1) 0%,
    rgba(59, 72, 193, 1) 100%
  );
  color: #ffffff;
  padding: 15px 35px;
  letter-spacing: 2px;
  min-width: 150px;
}

.btn-selected {
  border-radius: 50px;
  border: 0;
  background: white;
  color: linear-gradient(
    0deg,
    rgba(101, 32, 181, 1) 0%,
    rgba(59, 72, 193, 1) 100%
  );
  padding: 15px 35px;
  letter-spacing: 2px;
  min-width: 150px;
}

.edit-profile-modal .modal-body .upload-profile,
.edit-profile-modal .modal-body .upload-profile-background {
  margin-top: 15px;
  font-size: 15px;
  padding: 15px;
  width: 100%;
}

.edit-profile-modal.newvote .modal-body .upload-profile {
  width: 95px;
  height: 95px;
  background: linear-gradient(
    45deg,
    rgba(101, 32, 181, 1) 0%,
    rgba(59, 72, 193, 1) 100%
  );
  border: 10px solid #2a2e3b;
  font-size: 50px;
  font-weight: 700;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.edit-profile-modal .modal-footer {
  border-top: 0;
  padding-top: 40px;
  justify-content: center;
}

.edit-profile-modal .modal-footer .save-btn {
  padding: 15px 35px;
  letter-spacing: 2px;
  min-width: 150px;
}

.card-collectible {
  background-color: #000;
  padding: 20px 40px;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0 0 20px 0 white;
}

.card-collectible .nft {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-collectible .nft img {
  width: 40%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-collectible .nft .details {
  display: flex;
  gap: 48px;
  width: 40%;
  height: 100%;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
}

.card-collectible .nft .details div .title {
  font-size: 24px;
  font-weight: 500;
  font-family: Rubik-Medium;
  color: #888888;
}

.card-collectible .nft .info .nft-name {
  font-size: 20px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.card-collectible .nft .info .nft-category {
  font-size: 16px;
  font-weight: 300;
  font-family: Rubik-Light;
  color: #888888;
}

.card-collectible .nft .info hr {
  border: 1px solid #888888;
}

.card-collectible .nft .info .prints {
  font-size: 18px;
}

.card-collectible .nft .creator .creator-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-collectible .nft .creator .creator-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card-collectible .nft .creator .creator-info .artist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.card-collectible .nft .creator .creator-info .artist .name {
  font-size: 22px;
}

.card-collectible .nft .creator .creator-info .artist .gender {
  font-size: 20px;
  font-weight: 500;
  font-family: Rubik-Medium;
  color: #888888;
}

.card-collectible .nft .bid .bid-info {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.card-collectible .nft .bid .bid-info img {
  margin-top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-collectible .nft .bid .bid-info .bid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.card-collectible .nft .bid .bid-info .bid .value {
  font-size: 22px;
}

.card-collectible .nft .bid .bid-info .bid .history {
  font-size: 16px;
  font-weight: 300;
  font-family: Rubik-Light;
}

.card-collectible .buy-print {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.card-collectible .buy-print h3 {
  font-size: 35px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.card-collectible .buy-print p {
  font-size: 16px;
}

.card-collectible .buy-print .btn {
  padding: 12px;
  width: 50%;
}

.sell-token-balance {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sell-token-balance span {
  font-size: 14px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.artist-management .card.button-card {
  min-height: 450px;
}

.artist-management .card .artist-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist-management .card .artist-title span {
  font-size: 18px;
  font-weight: 700;
  font-family: Rubik-bold;
  letter-spacing: 1px;
}

.create-collectible {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.artist-management .card .create-collectible-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-management .card .create-collectible-title span {
  font-size: 16px;
  font-weight: 400;
  font-family: Rubik;
  letter-spacing: 1px;
}

.artist-management .card .create-collectible-upload-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.artist-management .card .create-collectible-upload-description h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: Rubik-Light;
  text-align: center;
  letter-spacing: 1px;
}

.artist-management .card .create-collectible-upload-description p {
  font-size: 15px;
  font-weight: 500;
  font-family: Rubik-Medium;
  color: #888888;
}

.artist-management .card .create-collectible-preview-description {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 0 16px;
}

.artist-management .card .create-collectible-preview-description h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: Rubik-Light;
  text-align: center;
  letter-spacing: 1px;
}

.artist-management .card .create-collectible-preview-description img {
  height: 300px;
  overflow: hidden;
}

.artist-management .card .create-collectible-title p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  font-family: Rubik-Medium;
  color: #888888;
}

.switch-top {
  margin-top: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid rgba(101, 32, 181, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(
    45deg,
    rgba(101, 32, 181, 1) 0%,
    rgba(59, 72, 193, 1) 100%
  );
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.collectible-data .pricing {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pricing .option {
  width: 45%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 0.5px solid #707070;
  border-radius: 10px;
}

.pricing .option:hover {
  cursor: pointer;
}

.selected {
  border: none;
  box-shadow: 0 0 3px 3px #493abc;
}

.option span {
  font-size: 12px;
  font-weight: 300;
  font-family: Rubik-Light;
  text-align: center;
  letter-spacing: 1px;
}

.card-input-element {
  display: none;
}

.input-price {
  margin-top: 24px;
  width: 100%;
}

.input-price .data {
  padding: 12px 8px;
  background-color: #373737;
}

.input-price .data input {
  padding: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #666;
  width: 80%;
  font-size: 13px;
  font-weight: 500;
  font-family: Rubik-Medium;
  -webkit-appearance: none;
}

.input-price .data select {
  padding: 3px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 13px;
  font-weight: 300;
  font-family: Rubik-Light;
  width: 20%;
}

.input-price .info {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.input-price .info div {
  color: #888;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  font-family: Rubik-Medium;
}

.input-price .info span {
  color: white;
}

.unlock-purchased {
  margin-top: 36px;
  width: 100%;
}

.unlock-purchased .title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.unlock-purchased .text {
  font-size: 16px;
  font-weight: 400;
  font-family: Rubik;
  margin-bottom: 4px;
}

.unlock-purchased .description {
  color: #888;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  font-family: Rubik-Medium;
}

.additional-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 16px;
  margin-top: 36px;
  width: 100%;
}

.additional-data .input {
  width: 100%;
  padding: 12px 8px;
  background-color: #373737;
  border: none;
  outline: none;
  color: #666;
  font-size: 13px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.graphic {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 12px;
}

.graphic-title {
  margin-top: 36px;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
}

.graphic .graphic-option img {
  width: 120px;
  height: 120px;
}

.graphic-option-check {
  margin-top: 8px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.graphic-option-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.graphic-option-text .title {
  font-size: 12px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.graphic-option-text .description {
  font-size: 10px;
  font-weight: 500;
  color: #666;
  font-family: Rubik-Medium;
}

.split-royalties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 16px;
  margin-top: 0;
  width: 100%;
}

.split-royalties .royalty-input-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
}

.split-royalties .royalty-input-wrapper .percentage {
  width: 15%;
  padding: 12px;
  background-color: #373737;
  border: none;
  outline: none;
  color: #666;
  font-size: 13px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.split-royalties .royalty-input-wrapper .wallet {
  width: 85%;
  padding: 12px 8px;
  background-color: #373737;
  border: none;
  outline: none;
  color: #666;
  font-size: 13px;
  font-weight: 500;
  font-family: Rubik-Medium;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.artist-management .card .artist-poll {
  text-align: center;
  margin-top: 20px;
}

.artist-management .card .artist-poll .poll-green {
  color: #00cd98;
}

.artist-management .card .artist-poll img {
  margin-right: 5px;
}

.artist-management .card .artist-poll .amount {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
}

.artist-management .card .first-row-main-dash .left-col {
  width: 100%;
}

.artist-management .card .first-row-main-dash .left-col .below-row {
  background-color: transparent;
}

.artist-management .card .first-row-main-dash .left-col .below-row {
  background-color: transparent;
}

.artist-management .card .footer-btn {
  text-align: center;
  margin-top: 46px;
}

.artist-management .card.button-card .footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(400px - 20px);
}

.artist-management .card .footer-btn .btn-gradiant {
  margin: 0 auto 20px;
  padding: 15px 35px;
  letter-spacing: 2px;
  font-size: 18px;
}

.artist-management .card .fans-list ul {
  margin: 20px 0 0;
  padding: 0;
  max-height: 310px;
  overflow: auto;
}

.artist-management .card .fans-list ul li {
  display: flex;
  align-items: center;
  list-style: none;
}

.artist-management .card .fans-list ul li + li {
  padding-top: 20px;
}

.artist-management .card .fans-list ul li .fan-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.artist-management .card .fans-list ul li .fan-details {
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  width: 100%;
}

.artist-management .card .fans-list ul li .fan-details .donate-amount {
  color: #c3c6d1;
  font-size: 13px;
  font-weight: 700;
  font-family: Rubik-bold;
  letter-spacing: 1px;
  width: 80px;
}

.artist-management
  .card
  .fans-list
  ul
  li
  .fan-details
  .fan-details-content
  span.name {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  font-family: Rubik-Medium;
}

.artist-management
  .card
  .fans-list
  ul
  li
  .fan-details
  .fan-details-content
  span.content {
  color: #858997;
  font-weight: 400;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*max-width: 200px;*/
  display: block;
}

.artist-management .card .fans-list .see-all-btn {
  display: flex;
  justify-content: center;
  margin: 25px auto 0;
  border: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

  .first-row-main-dash .left-col .above-row {
    padding: 12px;
  }

@media (max-width: 1400px) {
  .main-comman-wrapping {
    margin-left: 70px;
    margin-top: 72px;
  }

  .dashboard-wrapper-main {
    padding: 20px;
  }

  .heading {
    font-size: 22px;
    margin-bottom: 22px;
  }

  .collectible-heading {
    font-size: 36px;
    font-weight: 300;
    font-family: Rubik-Light;
    margin-bottom: 22px;
  }

  .first-row-main-dash {
    display: flex;
    grid-column-gap: 10px;
  }

  .comman-div-for-pro {
    padding: 20px;
    width: 90%;
    margin-top: 60px;
  }

  .last-row-pricing {
    width: 90%;
  }

  .Second-row-wave-chart .total-balance-row .heading-cols .dollor-price {
    font-size: 35px;
  }

  .card-heading {
    font-size: 14px;
  }

  .songs-grid-main .song-card-main .song-details .song-name {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .first-row-main-dash
    .left-col
    .below-row
    .right-side
    .custom-drop
    .customised-dashdrop
    .btn {
    font-size: 15px;
  }

  .first-row-main-dash .left-col .below-row .right-side .labal {
    font-size: 10px;
  }

  .Second-row-wave-chart {
    margin-top: 140px;
  }

  .first-row-main-dash .left-col .below-row .left-pricing .price-tag {
    font-size: 27px;
  }

  .comman-div-for-pro {
    padding: 20px;
    width: 90%;
    margin-top: 20px;
  }

  .search-input-main {
    margin-top: 50px;
  }

  .search-input-main input {
    padding: 20px 40px;
  }

  .search-input-main button.search-btn {
    right: 15px;
    width: 40px;
    height: 40px;
  }

  button.search-btn img {
    width: 13px;
  }

  .main-table-for-lader-board {
    overflow-x: auto;
  }

  .main-table-for-lader-board table {
    width: 1440px;
    overflow-x: hidden;
  }

  .login-page-main .right-cols-main .comman-row-input input {
    width: 80%;
  }

  .new-row-for-descriptions .login-headings {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
  }

  .login-page-main .left-cols-main .logos-row img {
    width: 70px;
    margin-right: 20px;
  }

  .login-page-main .left-cols-main .logos-row {
    padding: 50px 80px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  button.login-btn {
    margin-bottom: 15px;
    padding: 11px 44px;
  }

  .main-table-for-lader-board table tbody tr td.second-col,
  .main-table-for-lader-board table thead tr th.second-col {
    width: 150px;
  }

  .main-table-for-lader-board table thead tr th.sixth-col {
    width: 200px;
  }

  .main-table-for-lader-board table tbody tr td.third-col,
  .main-table-for-lader-board table thead tr th.third-col,
  .main-table-for-lader-board table tbody tr td.fourth-col,
  .main-table-for-lader-board table thead tr th.fourth-col,
  .main-table-for-lader-board table tbody tr td.fifth-col,
  .main-table-for-lader-board table thead tr th.fifth-col {
    width: 150px;
  }
}

@media (max-width: 1100px) {
  .last-row-pricing {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
  }

  .comman-div-for-pro {
    padding: 20px;
    width: 100%;
    margin-top: -20px;
  }

  .first-row-main-dash .left-col .above-row a img,
  .first-row-main-dash .right-col a img {
    width: 21px;
    cursor: pointer;
  }

  .first-row-main-dash .right-col {
    padding: 20px;
  }

  .first-row-main-dash .left-col .above-row {
    padding: 20px;
  }

  .first-row-main-dash .left-col .below-row {
    padding: 20px;
  }

  .progress-bar-cust .progress {
    margin: 40px 0px;
  }

  .see-all-artist {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .see-all-nft {
    margin-bottom: 30px !important;
  }

  .News-main .inner-wrapper-news {
    width: 90%;
  }

  .News-main .inner-wrapper-news .heading {
    padding-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }

  .search-input-main input {
    padding: 16px 30px;
  }

  .search-input-main button.search-btn {
    right: 15px;
    width: 35px;
    height: 35px;
  }

  .artist-pic img {
    width: 50px;
    border-radius: 100%;
  }

  .login-page-main .right-cols-main {
    width: 50%;
    padding: 90px 70px;
    padding-bottom: 0px;
  }

  .table-main {
    overflow-x: auto;
  }

  .gray-cards-main .table-main table {
    width: 1100px;
  }

  .artist-management .card .artist-poll .amount {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .first-row-main-dash {
    flex-direction: column;
  }

  .first-row-main-dash .left-col,
  .first-row-main-dash .right-col {
    width: 100%;
  }

  .first-row-main-dash .left-col {
    margin-bottom: 20px;
  }

  .main-comman-wrapping {
    margin-left: 50px;
    margin-top: 66px;
  }

  .heading {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .dashboard-wrapper-main {
    padding: 12px;
  }

  .mynfts-row-main .center-col input {
    font-size: 12px;
  }

  .mynfts-row-main .first-col .Mynft-drop-component-main .title-name {
    font-size: 11px;
    margin-bottom: -2px;
  }

  .mynfts-row-main .last-icon a img {
    width: 20px;
  }

  .mynfts-row-main .center-col {
    width: 50%;
  }

  .mynfts-row-main .first-col .Mynft-drop-component-main .dropdown .btn {
    font-size: 12px;
  }

  .Dropdown-main-header .dropdown .btn::after {
    width: 10px;
    height: 10px;
  }

  .header-main
    .right-col-main
    .profile-dropdown
    .Dropdown-main-header
    .dropdown
    .btn {
    padding-right: 10px;
  }

  .Inflow-music-main .inner-music-wrapper {
    margin-top: 30px;
  }

  .see-all-artist {
    margin-top: 30px;
  }

  .login-page-main {
    height: auto;
    background: #000;
    display: flex;
    overflow: inherit;
    flex-direction: column;
  }

  .login-page-main .left-cols-main {
    width: 100%;
  }

  .new-row-for-descriptions {
    padding: 80px 70px;
  }

  .login-page-main .left-cols-main .logos-row {
    padding: 40px 80px;
    padding-bottom: 0px;
    font-size: 30px;
  }

  .login-page-main .left-cols-main .logos-row {
    padding: 20px 20px;
    padding-bottom: 0px;
    font-size: 26px;
  }

  .new-row-for-descriptions {
    padding: 30px 30px;
    padding-bottom: 80px;
  }

  .new-row-for-descriptions .login-headings {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
  }

  p.descriptions-main {
    font-size: 12px;
    color: #fff;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .login-page-main .right-cols-main {
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(98, 32, 177, 1) 100%
    );
    padding: 60px 30px;
  }

  .login-page-main .right-cols-main .creat-name-main {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .login-page-main .right-cols-main .or-use {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
  }

  .login-page-main .right-cols-main .comman-row-input input {
    width: 100%;
  }

  button.login-btn {
    padding: 7px 40px;
    font-size: 12px;
  }

  .tab-settings-main nav .nav-tabs {
    flex-direction: column;
    justify-content: inherit !important;
    text-align: left !important;
  }

  .tab-settings-main nav .nav-tabs a.nav-item {
    text-align: center;
    padding: 17px 20px;
  }

  .grids-main-inputs {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .save-changes-main {
    padding: 0;
    text-align: center;
  }

  .grids-main-inputs .comman-grids input,
  .grids-main-inputs .comman-grids .dropdown .btn {
    padding: 15px;
  }

  .labels-mains .inner-row-labels-main {
    padding: 21px 20px;
  }

  .labels-mains .inner-row-labels-main .small-row-heading .small-headings {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: normal;
    font-weight: 600;
  }

  .labels-mains .inner-row-labels-main .small-row-heading .short-descriptions {
    font-size: 12px;
    font-weight: 400;
  }

  .gray-cards-main .inner-first-card-row .col-rights-main .first-headings {
    font-size: 18px;
  }

  .side-bar-main .side-bar-navigation .nav-link-main {
    padding: 5px 0;
  }

  .grid-for-artist {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }

  .grids-main-inputs .comman-grids input,
  .grids-main-inputs .comman-grids .dropdown .btn {
    padding: 15px;
  }

  .grids-main-inputs .comman-grids .dropdown .btn::after {
    top: 26px;
  }

  .save-changes-main button {
    padding: 16px 70px;
  }

  .artist-management .card .artist-title span,
  .artist-management .card .footer-btn .btn-gradiant {
    font-size: 15px;
  }

  .artist-management .card .artist-poll .amount {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .header-main .right-col-main .notified-main {
    display: none;
  }

  .dashboard-wrapper-main {
    padding: 12px 15px;
    padding-top: 20px;
  }

  .heading {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .main-comman-wrapping {
    margin-left: 40px;
    margin-top: 56px;
  }

  .first-row-main-dash .left-col .above-row {
    padding: 12px;
  }

  .first-row-main-dash .left-col .below-row {
    padding: 12px;
  }

  .first-row-main-dash .left-col .below-row .left-pricing .price-tag {
    font-size: 21px;
  }

  .spiner-bar-row .comman-col:first-child {
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 0px;
  }

  .spiner-bar-row .comman-col .right-side-value {
    font-size: 16px;
    font-weight: 500;
  }

  .chart-row {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
  }

  .last-row-pricing .comman-priced:first-child {
    padding-right: 20px;
    margin-right: 20px;
  }

  .last-row-pricing .comman-priced span.small-heading {
    font-size: 10px;
  }

  .first-row-main-dash .right-col {
    padding: 12px;
  }

  .Second-row-wave-chart {
    padding: 12px;
  }

  .Second-row-wave-chart .total-balance-row .heading-cols .dollor-price {
    font-size: 24px;
  }

  .deposite-earning-row {
    grid-column-gap: 50px;
  }

  .deposite-earning-row .deposite-heaing span.labal-heading {
    font-size: 12px;
  }

  .deposite-earning-row .deposits .square-lab,
  .deposite-earning-row .earning .square-lab {
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }

  .mynfts-row-main {
    margin-top: 20px;
  }

  .mynfts-row-main .first-col {
    display: none;
  }

  .mynfts-row-main .center-col {
    width: 90%;
  }

  .Inflow-music-main .inner-music-wrapper {
    margin-top: 10px;
  }

  .artist-heading:before {
    display: none;
  }

  .table-filter-btn-row {
    flex-direction: column;
    align-items: inherit;
    margin-bottom: 0px;
  }

  .table-filter-btn-row .left-col-fillter {
    width: 100%;
    margin-bottom: 10px;
  }

  .table-filter-btn-row .left-col-fillter .comman-btn {
    width: 50%;
  }

  .table-filter-btn-row .left-col-fillter .comman-btn:last-child {
    margin-right: 0px;
  }

  .table-filter-btn-row .left-col-fillter .comman-btn .btn {
    width: 100%;
  }

  .table-filter-btn-row .right-col-filter .right-col-btn {
    margin-left: 10px;
  }

  .table-filter-btn-row .right-col-filter .right-col-btn:first-child {
    margin-left: 0px;
  }

  .table-filter-btn-row .right-col-filter .right-col-btn button {
    width: 100%;
  }

  .table-filter-btn-row .right-col-filter .right-col-btn {
    width: 50%;
  }

  .gray-cards-main {
    background: #2f3443;
    padding: 20px;
    border-radius: 6px;
  }

  .gray-cards-main .inner-first-card-row .col-rights-main .first-headings {
    font-size: 15px;
  }

  .gray-cards-main .inner-first-card-row .col-rights-main .songs-name {
    font-size: 11px;
    line-height: normal;
  }

  .gray-cards-main .inner-first-card-row img {
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .gray-cards-main .table-main table {
    width: 650px;
  }

  .mynfts-row-main .center-col {
    width: 80%;
  }

  .songs-grid-main {
    grid-template-columns: repeat(4, 1fr);
  }

  .search-input-main {
    margin-top: 30px;
  }

  .grids-main-inputs .comman-grids input,
  .grids-main-inputs .comman-grids .dropdown .btn {
    padding: 10px 15px;
  }

  .grids-main-inputs .comman-grids .dropdown .btn::after {
    top: 21px;
  }

  .profile-dropdown-main {
    transform: translate(-345px, 57px) !important;
  }

  .profile-dropdown-main:before {
    border-bottom: 30px solid #2f3443;
    border-left: 30px solid transparent;
    top: -30px;
  }

  .profile-dropdown-card .card-header {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .spiner-bar-row .comman-col:first-child {
    margin-right: 0;
    border: 0;
  }

  .spiner-bar-row .comman-col {
    width: 100%;
  }

  .comman-div-for-pro .spiner-bar-row .comman-col {
    width: 50%;
    padding-left: 30px;
  }

  .spiner-bar-row .comman-col + .comman-col {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #444;
  }

  .comman-div-for-pro .spiner-bar-row .comman-col + .comman-col {
    margin-top: 0;
  }

  .spiner-bar-row {
    flex-wrap: wrap;
  }

  .chart-row {
    width: 60%;
  }

  .mynfts-row-main .center-col {
    width: 70%;
  }

  .songs-grid-main {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .grid-for-artist {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
  }
}

@media (max-width: 480px) {
  .login-page-main .right-cols-main .social-icons a {
    width: 35px;
    height: 35px;
    padding: 7px;
    margin-right: 10px;
  }

  .comman-div-for-pro .spiner-bar-row .comman-col {
    width: 100%;
    padding: 0;
  }

  .comman-div-for-pro .spiner-bar-row:first-child .comman-col {
    padding: 0;
  }

  .comman-div-for-pro .spiner-bar-row .comman-col:first-child {
    justify-content: flex-start;
    border-right: none;
  }

  .comman-div-for-pro .spiner-bar-row .comman-col + .comman-col,
  .comman-div-for-pro .spiner-bar-row + .spiner-bar-row {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #555555;
  }

  .last-row-pricing {
    flex-wrap: wrap;
  }

  .last-row-pricing .comman-priced:first-child {
    border: none;
    margin: 0;
    padding: 0;
  }

  .last-row-pricing .comman-priced + .comman-priced {
    padding-top: 15px;
    border-top: 2px solid #555;
    margin-top: 15px;
  }

  .chart-row {
    width: 75%;
  }

  .grid-for-artist {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
  }

  .artist-management .card .artist-poll .amount {
    font-size: 20px;
  }

  .edit-profile-modal .modal-dialog .modal-content {
    padding: 30px;
  }
}

@media (max-width: 360px) {
  .login-page-main .right-cols-main .social-icons a {
    /*width: 30px;*/
    /*height: 30px;*/
    /*padding: 7px;*/
  }

  .chart-row {
    width: 85%;
  }

  .mynfts-row-main .center-col {
    width: 60%;
  }

  .songs-grid-main {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .save-changes-main {
    padding: 0 20px;
  }

  .save-changes-main button {
    padding: 16px 0;
    width: 100%;
  }
  .edit-profile-modal .modal-dialog .modal-content {
    padding: 20px;
  }
}
