/* ---------------Header-Search--------------------- */
.search-bar input {
  width: 100%;
  padding: 10px 0px;
  background: #333;
  border: none;
  border-bottom: 1px solid #555;
  font-size: 16px;
  outline: none !important;
  transition: 0.2s all ease;
  padding-right: 100px;
}

.search-bar {
  position: relative;
}

.search-bar::before {
  position: absolute;
  content: "";
  background: url(../assets/images/search-icon.svg) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.search-bar input:focus {
  border-bottom: 1px solid #cac9c9;
  transition: 0.2s all ease;
}

.search-bar input {
  color: #fff;
}

.web3modal-modal-card {
  margin-top: 50px;
}

.Notification-main {
  width: 44px;
  height: 44px;
  background: linear-gradient(
    25deg,
    rgba(115, 44, 245, 1) 40%,
    rgba(30, 13, 143, 1) 109%
  );
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.Notification-main span.badge-name {
  position: absolute;
  right: 6px;
  top: 6px;
  background: #5594eb;
  font-size: 11px;
  width: 18px;
  height: 18px;
  font-weight: bold;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dropdown-main-header .dropdown .btn .Notification-main img {
  width: 100%;
  margin: 0 auto;
}
.Dropdown-main-header .dropdown #dropdown-custom-2:after {
  display: none;
}

.Dropdown-main-header .dropdown .btn {
  background: no-repeat !important;
  border: none !important;
  padding: 0;
  position: relative;
  outline: none !important;
  box-shadow: none !important;
}

.Dropdown-main-header .dropdown .btn img {
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.Dropdown-main-header .dropdown .btn::after {
  position: absolute;
  content: "";
  background: url("../assets/images/down-arrow-white.svg") no-repeat;
  background-size: 100%;
  width: 14px;
  height: 14px;
  border: none;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
}

.comman-div-for-slider {
  background: linear-gradient(
    to top,
    rgb(70, 29, 149) 0%,
    rgb(37, 36, 151) 100%
  );
  padding: 10px 20px;
}

.comman-div-for-slider img {
  width: 50px;
  border-radius: 100%;
}

.Notification-dropdown {
  width: 500px;
  height: 67vh;
  background-color: #333333 !important;
  padding: 30px !important;
  position: relative;
  transform: translate3d(-450px, 70px, 0px) !important;
  border-radius: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.Notification-dropdown:after {
  position: absolute;
  content: "";
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #333333;
  top: -25px;
  right: 0;
}

.Notification-dropdown .notification-dropdown-card {
  height: 100%;
  overflow-y: auto;
}

.Notification-dropdown .notification-dropdown-card .card-header {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  font-family: "Montserrat SemiBold";
  font-size: 26px;
  padding: 10px 0 20px;
}

.notification-dropdown-card .card-header .close {
  color: #ffffff;
  opacity: 1;
  margin-left: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.notification-dropdown-details {
  display: flex;
  color: #ffffff;
  position: relative;
}

.notification-alert.notification-dropdown-details:before {
  height: 74%;
}

.notification-new-poll.notification-dropdown-details:before {
  height: 76.5%;
}

.notification-dropdown-details:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 82%;
  background-color: #555555;
  left: 23px;
  top: 50px;
}

.notification-dropdown-details .img-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    rgba(218, 80, 202, 1) 0%,
    rgba(254, 102, 102, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.notification-alert.notification-dropdown-details .img-wrapper {
  background: linear-gradient(
    0deg,
    rgba(96, 75, 232, 1) 0%,
    rgba(183, 75, 232, 1) 100%
  );
}

.notification-new-poll.notification-dropdown-details .img-wrapper {
  background: linear-gradient(
    0deg,
    rgba(75, 93, 232, 1) 0%,
    rgba(46, 201, 215, 1) 100%
  );
}

.notification-transfer.notification-dropdown-details .img-wrapper {
  background: linear-gradient(
    0deg,
    rgba(46, 179, 209, 1) 0%,
    rgba(46, 245, 192, 1) 100%
  );
}

.notification-content-wrapper {
  width: calc(100% - 65px);
  padding-bottom: 30px;
}

.notification-content-wrapper .notification-content-title {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  letter-spacing: 2px;
}

.notification-content-wrapper p {
  color: #888888;
  font-family: "Montserrat SemiBold";
  font-size: 13px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.notification-content-wrapper .notification-item-details {
  background-color: #444444;
  padding: 20px;
}

.notification-content-wrapper .notification-item-details .item-details {
  display: flex;
  justify-content: space-between;
}

.notification-content-wrapper .notification-item-details .item-details h6 {
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  color: #888888;
  margin-bottom: 30px;
}

.notification-content-wrapper
  .notification-item-details
  .item-details
  .details
  img {
  width: 50px;
  margin-right: 15px;
}

.notification-content-wrapper
  .notification-item-details
  .item-details
  .details
  .content
  h6 {
  margin-bottom: 0;
  margin-top: 5px;
}

.notification-item-content {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 2px solid #555555;
}

.notification-item-content h6 {
  color: #888888;
  font-size: 12px;
  font-family: Montserrat;
}

.notification-item-content h5 {
  font-size: 14px;
  font-family: Montserrat;
}

.notification-alert
  .notification-content-wrapper
  .notification-item-details
  .item-details
  .details
  img {
  width: 100%;
  margin-left: 25px;
  margin-right: 0;
}

.notification-new-poll
  .notification-content-wrapper
  .notification-item-details
  .item-details
  .details
  h5
  + h5 {
  margin-bottom: 0;
  padding-top: 15px;
  border-top: 1px solid #555555;
  margin-top: 15px;
}

.notification-transfer
  .notification-content-wrapper
  .notification-item-details
  .item-details {
  display: block;
}

.notification-transfer
  .notification-content-wrapper
  .notification-item-details
  .item-details
  h6 {
  margin-bottom: 8px;
}

.notification-transfer
  .notification-content-wrapper
  .notification-item-details
  .item-details
  h6
  + h6 {
  margin-bottom: 0;
}

.notification-transfer
  .notification-content-wrapper
  .notification-item-details
  .item-details
  .details-border-top {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #555555;
}

.notification-transfer
  .notification-content-wrapper
  .notification-item-details
  .item-details
  .item
  + .item
  img {
  margin-top: 15px;
  padding-top: 15px;
}
